.App {
  text-align: center;
}

.App-logo {
  height: 13vh;
  width: 13vh;
  border-radius: 50%;
  margin-right: 5%;
}

.App-header {
  background-color: #886F68;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #3D2C2E;
}

.App-body {
  background-color: #F5EDF0;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.Row {
  margin: 10px;
  flex-direction: row;
}

.Catagories-button {
  padding: 10px 30px;
  cursor: pointer;
  background-color: #3D2C2E;
  color: #F5EDF0;
  border: 0;
  border-radius: 10px;
  margin: 0px 2px;
  width: 20vh;
}

.Product-list {
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.Product-card {
  background-color: white;
  margin: 10px 5px;
  border: 0;
  border-radius: 15px;
  min-height: 20vh;
  width: 33vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #3D2C2E;
}

.Product-img {
  margin: 10px 5px 5px 5px;
  height: 20vh;
  width: 20vh;
}

.Product-name {
  font-weight: 700;
  margin: 5px;
}

.Product-price {
  font-size: small;
  margin: 0;
}

.Add-to-cart {
  margin: 5px;
  background-color: #886F68;
  color: white;
  border-radius: 5px;
  border: 1;
  border-color: white;
  padding: 5px 30px;
}

.Shopping-list{
  color: #3D2C2E;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.Submenu {
  background-color: white;
  color: #3D2C2E;
  border-radius: 15px;
  min-width: 40vh;
}

.Shopping-list .Submenu {
  display: none;
}

.Shopping-list:hover .Submenu {
  display: block;
}

.Checkout {
  margin: 5px;
  background-color: #886F68;
  color: white;
  border-radius: 5px;
  border: 1;
  border-color: white;
  padding: 5px 30px;
}

.Left-text {
  text-align: left;
  margin: 5px ;
  font-size: small;
}

.Line {
  color: #886F68;
  width: 95%;
}

.Row-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Quantity-input {
  width: 50px;
}